@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

.nav_bar {
  padding: 5px 10%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.nav_item {
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-transform: uppercase;
  gap: 15px;
}
.logo_nav {
  width: 40px;
  padding: 5px;
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.205));
}
.nav_item_action {
  letter-spacing: 0.2px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
  font-weight: 600;
}
.nav_item_action:hover {
  color: #f85606;
  border-bottom: 1px solid #f85606;
}
.nav_item_action_active{
    color: #f85606;
  }
.log_btn {
  background-color: #f85606;
  color: white;
  border: 2px solid #f85606;
  text-transform: uppercase;
  padding: 4px 17px;
  letter-spacing: 0.2px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.log_btn:hover{
  color: #f85606;
  background-color: white;
  font-weight: bold;
}
.reg_btn {
  color: #f85606;
  background-color: white;
  border: 2px solid #f85606;
  text-transform: uppercase;
  padding: 4px 17px;
  letter-spacing: 0.2px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 500px;
}

.nav_btn {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f85606; /* Color of the scrollbar thumb (draggable part) */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #f85606; /* Color of the scrollbar thumb on hover */
}
.icon_nav{
  font-size: 25px;
  cursor: pointer;
}
.icon_nav:hover{
 color: #f85606;
}
.icon_nav_active{
  color: #f85606;
}